*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header-section img{
    width: 150px;
    height: 75px;
    border-radius: 50%;
}
footer .container .row img{
     width: 200px;
    height: 100px;
    border-radius: 50%;
}
#banner{
    background: rgba(26, 25, 25, 0.5) url("../img/Banner.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}
#banner{
    display: flex;
    align-items: center;
    color: white;
}
#Heighlight .card:hover{
    background-color:aquamarine;
    transition: 0.3s ease;
}

#photograph img{
    height: 200px;
}

#documents img{
    height: 300px;
}
.card:hover{
    background-color: aquamarine;
    transition: 0.3s ease;
}

#breadcumb{
    background-image: url(../img/breadcumb.png);
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
#historical img{
    height: 350px;
    
}

 .card-img{
    overflow: hidden;
    transition: 0.5s ease;
}
 .card:hover .card-img img{
    transform: scale(1.10);
}
.card-img img{
    height: 350px;
}
#Gallery img{
    height: 200px;
    overflow: hidden;
    transition: 0.3s ease;
}

#Gallery img:hover{
    transform: scale(1.1);
}